# Frontend
frontend/node_modules/
frontend/.env
frontend/build/
frontend/.pnp
frontend/.pnp.js
frontend/coverage/
frontend/.DS_Store
frontend/.env.local
frontend/.env.development.local
frontend/.env.test.local
frontend/.env.production.local
frontend/npm-debug.log*
frontend/yarn-debug.log*
frontend/yarn-error.log*

# Backend
backend/target/
backend/.idea/
backend/*.iml
backend/.mvn/
backend/mvnw
backend/mvnw.cmd
backend/.DS_Store
backend/.env
backend/logs/

# General
.DS_Store
.env
.env.local
.env.development.local
.env.test.local
.env.production.local
*.log 